name: Code Quality Check

on:
  pull_request:
    branches:
      - master  # Replace 'main' with your default branch name if different

jobs:
  build:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # You can specify the Flutter version here

      - name: Get dependencies
        run: flutter pub get

      - name: Check formatting
        run: flutter format --set-exit-if-changed .

      - name: Analyze code
        run: flutter analyze
